body {
    background-color: #f5f5dc;
}
h2 {
    padding: 5px 0px 5px 0px;
}
form {
    border: 1px solid black;
    margin: auto;
    margin-bottom: 10px;
    width: 400px;
}
fieldset {
    width: 400px;
    padding: 0px 30px 20px 30px;
}
legend {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
footer {
    padding: 12px;
    background-color: #000;
    color: #F2FFFC;
}