#corpo {
    background-color: #FFFEFE;
}
#grupo-de-paineis {
    margin-top: 10px;
}
#rodape {
    background-color: #FFFFF9;
    padding: 10px;
}
.icones-socias a {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -9999px;
}
.icones-socias li {
    display: inline-block;
}

.competencias .barras li {
    margin-bottom: 21px;
    position: relative;
}

.competencias .barras li:after {
    background: #e1e1e1;
    bottom: -4px;
    content: ' ';
    display: block;
    height: 5px;
    position: absolute;
    width:100%;
}

.competencias .barras li span {
    background: #33a4c9;
    bottom: -4px;
    content: ' ';
    display: block;
    height: 5px;
    left: 0;
    position: absolute;
    width: inherit;
    z-index: 1;
}

footer div {
    padding: 12px;
    background-color: #000;
    color: #F2FFFC;
}
