body {
    background-color: #F2FFFC;
    font-family: "Crimson Text", serif;
    font-size: 20px;
}
h1, h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}
main h1 {
    text-transform: uppercase;
    font-size: 60px;
    background-color: #891944;
    text-align: center;
    color: #F2FFFC;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    padding: 25px;
    margin: 0;
}
aside h1 {
    font-size: 120%;
}
main a {
    color: #851944;
}
h2 {
    font-size: 40px;
    font-family: "Open Sans Condensed", sans-serif;
    clear: both;
}
main div {
    width: 720px;
    margin: auto;
}
p {
    text-align: justify;
    margin: 20px 0;
}
blockquote {
    background-color: #D3DDDA;
    padding: 20px;
    border: 10px solid #C2CCCA;
    width: 250px;
    margin: 0;
    box-sizing: border-box;
}
footer {
    padding: 12px;
    background-color: #000;
    color: #F2FFFC;
}
#block_a {
    margin-right: 15px;
    margin-bottom: 30px;
    float: left;
}
#block_b {
    margin-left: 15px;
    margin-bottom: 10px;
    float: right;
}
#foto {
    width: 180px;
    height: 50px;
}